---
// src/components/Footer.astro
---

<footer style="background-color: #b42242; padding: 20px; text-align: center; color: #000;">
    <div style="margin-top: 20px;" class="mb-5">
      <p style="font-weight: bold;">
        Copyright Compagnia Teatrale Italiana di Barcellona 2025, Made with ❤️ by 
        <a href="https://www.fenles.com" target="_blank" style="color: #ffffff; text-decoration: underline; font-weight: bold;">FENLES</a> 
        a Scintillarn company
      </p>
    </div>
</footer>