---
import { Image } from "astro:assets";
---

<div class="w-full h-screen flex flex-row ">
    <div class="relative w-3/5 h-full max-md:w-full">
        <div class="absolute inset-0 bg-[url('/hero_picture1.jpg')] bg-cover bg-center opacity-60 z-0"></div>
      
        <div class="relative z-10 grid grid-cols-1 lg:grid-cols-3 w-full h-full">
            <div class="col-span-1 lg:col-span-2 place-self-center text-center md:text-start mt-3">
                <div class="mb-5 md:ml-5">
                  <span class="text-5xl lg:text-6xl font-generalSans text-white bg-[#b42242]">Compagnia<br></span>
                </div>
                <div class="mb-5 md:ml-5">
                  <span class="text-5xl lg:text-6xl font-generalSans bg-white">teatrale</span> 
                  <span class="text-5xl lg:text-6xl font-generalSans bg-white">italiana<br></span>
                </div>
                <div class="mb-5 md:ml-5">
                  <span class="text-5xl lg:text-6xl font-generalSans text-white bg-[#328d94]">di Barcellona</span>
                </div>
                <p class="text-white text-xl font-futuraMedium font-medium px-4 lg:px-0">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
                <p class="text-white text-xl font-futuraMedium font-medium px-4 lg:px-0">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
                <p class="text-white text-xl font-futuraMedium font-medium px-4 lg:px-0">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>   
            </div>
        </div>
    </div>

    <div class="w-2/5 h-full bg-[url('/hero_picture2.jpg')] bg-cover bg-center opacity-60 max-md:hidden">
    </div>
</div>