---
import { Image } from "astro:assets";
import PictureLeft from "./PictureLeft.astro";
import kids_picture from "../assets/images/left_picture.png";
---

<div
    class="w-full grid grid-cols-1 lg:grid-cols-2 lg:grid-rows-2 place-self-center my-12"
>
    <div class="lg:col-start-1 lg:row-span-2 lg:pl-12 px-4"> 
        <h1 class="text-3xl lg:text-5xl text-[#b42242] font-generalSans my-6 lg:my-12">
            TEATRO PER BAMBINI E BAMBINE
        </h1>
        <div class="lg:mb-5">
            <p class="text-xl lg:text-2xl font-futuraMedium font-semibold">
                Laboratorio per bambine e bambini.
            </p>
        </div>
    </div>
    <div class="lg:row-span-2 lg:row-start-1 place-self-center row-span-1 lg:col-start-2 px-4">
        <PictureLeft
            image_url={kids_picture}
            image_alt=""
            image_loading="lazy"
        />
    </div>
    <div class="lg:col-start-1 row-span-1 lg:pl-12 px-4"> 
        <div class="lg:mb-5">
            <p class="text-sm lg:text-base font-futuraMedium font-semibold">
                Un percorso divertente e stimolante dove il teatro si unisce alla musica, alla voce e alla fantasia.
            </p>
            <p class="text-sm lg:text-base font-futuraMedium font-semibold">
                Attraverso giochi, esercizi creativi e attività di gruppo, i bambini potranno esplorare il loro mondo immaginario,
                sviluppare la consapevolezza corporea e scoprire nuove modalità di espressione.
            </p>
            <p class="text-sm lg:text-base font-futuraMedium font-semibold">
                Il laboratorio è pensato per offrire uno spazio accogliente e sicuro,
                dove ogni bambina e bambino possa sentirsi libero di sperimentare, giocare e collaborare con gli altri.
            </p>
        </div>
        <div class="lg:mb-16">
            <p class="text-sm lg:text-base font-futuraMedium font-semibold">
                L’aspetto pedagogico si intreccia con quello creativo, favorendo lo sviluppo dell’ascolto, della concentrazione e della fiducia in sé stessi.
            </p>
            <p class="text-sm lg:text-base font-futuraMedium font-semibold">
                Un’esperienza che stimola la curiosità e invita a raccontare storie, inventare personaggi e lasciarsi trasportare dall’immaginazione.
            </p>
            <p class="text-sm lg:text-base font-futuraMedium font-semibold">
                Perché il teatro, per i più piccoli, è soprattutto un meraviglioso gioco da condividere!
            </p>
        </div>
    </div>
</div>

<div class="h-12 bg-[#b42242] max-lg:-mt-30"></div>